
.container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap:7px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,149,218,0.85) 9.9%, rgba(56,80,114,1) 100.3% );
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  }
  
  .box{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px,
    #ffffff 1.5px 1.5px 2px 0px inset, #c7c3c0 -3.2px -3.2px 8px 0px inset;
  cursor: pointer;
  font-family: Montserrat;
  transition: 0.1s ease-in-out;
    /* transition: transform 0.4s ease;
    position: relative; */
  }

  .title {
    /* margin-left: 80px; */
    color:#294d61;
  }

  /* .box:hover {
    cursor: pointer;
    transform: scale(0.95);
  } */

  .box:active {
    box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
    #c7c3c0 -3.2px -3.2px 8px 0px inset;
  }

  .winnerMessage{
    /* margin-left: 22px;
    margin-bottom: 35px; */
    color:#294d61;
  }

  .titlediv{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    height: 100px;
  }

  .hide {
    display: none;
  }

  button{
    border: none;
    outline: none;
    background-color: azure;
  }

  .colorX{
    color:rgba(242,121,1,0.84)
  }

  .colorO{
    color:rgba(0,149,218,0.85);
  }

  .restartbtndiv{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    height: 100px;
  }

  .restartbtn {
    /* margin:40px 95px; */
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(0 107 179);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
  }
  
  .restartbtn:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .restartbtn:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .restartbtn::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  
  
  
  
  
  
  